<title>Object Detection App</title>

<h1>
    ファイルをアップロードして画像内の物体検出をしよう
</h1>
<h2>検出できるもの</h2>
<h4><table border="1" width="700">
    <tr>
        <th width="15%">生き物</th>
        <th align="left">人, 鳥, 猫, 犬, 馬, 羊, 牛,象, 熊, シマウマ, キリン
        </th>
    </tr>
    <tr>
        <th width="15%">街の景色</th>
        <th align="left">自転車, 自動車, バイク, 飛行機, バス, 電車, トラック, ボート, 信号機, 消火栓, 一時停止標識, パーキングメーター, ベンチ
        </th>
    </tr>
    <tr>
        <th width="15%">部屋の景色</th>
        <th align="left">イス, ソファ, 鉢植え, ベッド, テーブル, トイレ, テレビ, ノートパソコン, マウス, リモコン, キーボード, 本, 時計, 花瓶, はさみ, テディベア, ドライヤー, 歯ブラシ
        </th>
    </tr>
    <tr>
        <th width="15%">料理関係</th>
        <th align="left">ボウル, 電子レンジ, オーブン, トースター, シンク, 冷蔵庫, ボトル, ワイングラス, カップ, フォーク, ナイフ, スプーン
        </th>
    </tr>
    <tr>
        <th width="15%">食べ物</th>
        <th align="left">バナナ, りんご, サンドウィッチ, オレンジ, ブロッコリー, にんじん, ホットドッグ, ピザ,ドーナツ, ケーキ
        </th>
    </tr>
    <tr>
        <th width="15%">スポーツ</th>
        <th align="left">フリスビー, スキー板, スノーボード, ボール, 凧, バット, グローブ, スケートボード, サーフボード, テニスラケット
        </th>
    </tr>
    <tr>
        <th width="15%">持ち物</th>
        <th align="left">バックパック, 傘, ハンドバック, ネクタイ, スーツケース, 携帯電話
        </th>
    </tr>
</table></h4>
<form method = post enctype = multipart/form-data>
<p><input type = file name = filename>
<input type = submit value = 物体検出>
</form>
